{% extends 'base.html' %}
{% load static %}
{% load product_discount_tags %}

{% block content %}
        <div class="Header-slider">
            <div class="Slider Slider_main">
              <div class="Slider-box">
                  {% for banner in banners %}
                <div class="Slider-item">
                  <div class="Slider-content">
                    <div class="row">
                      <div class="row-block">
                        <strong class="Slider-title">{{ banner.title }}
                            {% if banner.primary_text %}
                            <span class="text_primary">{{ banner.primary_text }}</span>
                            {% endif %}
                        </strong>
                        <div class="Slider-text">{{ banner.description|truncatechars:100 }}
                        </div>
                        <div class="Slider-footer"><a class="btn btn_primary" href="{{ banner.link }}">Get Started</a>
                        </div>
                      </div>
                      <div class="row-block">
                        <div class="Slider-img"><img src="/{% firstof banner.file.file 'static/assets/img/content/home/slider.png' %}" width="735" height="454" alt="bnr_img"/>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                  {% endfor %}
              </div>
              <div class="Slider-navigateWrap">
                <div class="Slider-navigate">
                </div>
              </div>
            </div>
        </div>
    <div class="Middle">
        <div class="Section">
            <div class="wrap">
                <div class="BannersHome">
                    {% for banner in semi_banners %}
                    <a class="BannersHomeBlock" href="{{ banner.link }}">
                        <div class="BannersHomeBlock-row">
                            <div class="BannersHomeBlock-block">
                                <strong class="BannersHomeBlock-title">{{ banner.title }}
                                </strong>
                                <div class="BannersHomeBlock-content">{{ banner.description|truncatechars:5 }}<span class="BannersHomeBlock-price"> {{ banner.primary_text }}</span>
                                </div>
                            </div>
                            <div class="BannersHomeBlock-block">
                                <div class="BannersHomeBlock-img"><img src="/{% firstof banner.file.file 'static/assets/img/content/home/videoca.png' %}" alt="videoca.png" />
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="Section Section_column Section_columnLeft Section_columnDesktop">
            <div class="wrap">
                <div class="Section-column">
                    <div class="Section-columnSection Section-columnSection_mark">
                      <header class="Section-columnHeader">
                        <strong class="Section-columnTitle">ОГРАНИЧЕННЫЕ ПРЕДЛОЖЕНИЯ
                        </strong>
                      </header>
                      <div class="Card"><a class="Card-picture" href="#"><img src="assets/img/content/home/card.jpg" alt="card.jpg"/></a>
                        <div class="Card-content">
                          <strong class="Card-title"><a href="#">Corsair Carbide Series Arctic White Steel</a>
                          </strong>
                          <div class="Card-description">
                            <div class="Card-cost"><span class="Card-priceOld">$115.00</span><span class="Card-price">$85.00</span>
                            </div>
                            <div class="Card-category">News / xbox
                            </div>
                          </div>
                          <div class="CountDown" data-date="15.07.2023 07:11">
                            <div class="CountDown-block">
                              <div class="CountDown-wrap">
                                <div class="CountDown-days">
                                </div><span class="CountDown-label">days</span>
                              </div>
                            </div>
                            <div class="CountDown-block">
                              <div class="CountDown-wrap">
                                <div class="CountDown-hours">
                                </div><span class="CountDown-label">hours</span>
                              </div>
                            </div>
                            <div class="CountDown-block">
                              <div class="CountDown-wrap">
                                <div class="CountDown-minutes">
                                </div><span class="CountDown-label">mins</span>
                              </div>
                            </div>
                            <div class="CountDown-block">
                              <div class="CountDown-wrap">
                                <div class="CountDown-secs">
                                </div><span class="CountDown-label">secs</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="Section-content">
                    <header class="Section-header">
                        <h2 class="Section-title">Популярные товары
                        </h2>
                    </header>
                    <div class="Cards">
                        {% for product in popular_products %}
                        <div class="Card hide_md hide_1450"><a class="Card-picture" href="{% url 'pages:product-detail' product.pk %}"><img src="{{ product.icon__file }}" alt="{{ product.title }}" /></a>
                            <div class="Card-content">
                                <strong class="Card-title"><a href="{% url 'pages:product-detail' product.pk %}">{{ product.title }}</a>
                                </strong>
                                <div class="Card-description">
                                    {% is_discounted product.pk as discount%}
                                    {% if discount %}
                                        <div class="Card-cost">
                                            <span class="Card-priceOld">{% avg_price product.pk %}</span>
                                            <span class="Card-price">{% avg_discount_price product.pk %}</span>
                                        </div>
                                    {% else %}
                                        <div class="Card-cost"><span class="Card-price">{{ product.min_price }}</span></div>
                                    {% endif %}
                                    <div class="Card-category">{{ product.category__title }}
                                    </div>
                                    <div class="Card-hover"><a class="Card-btn" href="{% url 'pages:product-detail' product.pk %}"><img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg" /></a><a class="Card-btn" href="{% url 'pages:add_to_comparison_list'%}?product={{ product.pk }}"><img src="{% static 'assets/img/icons/card/change.svg' %}" alt="change.svg" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="Section Section_column Section_columnRight">
            <div class="wrap">
                <div class="Section-content">
                    <div class="Slider Slider_carousel">
                        <header class="Section-header Section-header_close">
                            <h2 class="Section-title">Скоро закончатся
                            </h2>
                            <div class="Section-control">
                                <div class="Slider-navigate">
                                </div>
                            </div>
                        </header>
                        <div class="Slider-box Cards">
                            {% for product in limited_products %}
                             <div class="Slider-item">
                                <div class="Slider-content">
                                    <div class="Card"><a class="Card-picture" href="{% url 'pages:product-detail' product.pk %}"><img src="{{ product.icon__file }}" alt="card.jpg" /></a>
                                        <div class="Card-content">
                                            <strong class="Card-title"><a href="{% url 'pages:product-detail' product.pk %}">{{ product.title }}</a>
                                            </strong>
                                            <div class="Card-description">
                                                {% is_discounted product.pk as discount%}
                                                {% if discount %}
                                                    <div class="Card-cost">
                                                        <span class="Card-priceOld">{% avg_price product.pk %}</span>
                                                        <span class="Card-price">{% avg_discount_price product.pk %}</span>
                                                    </div>
                                                {% else %}
                                                    <div class="Card-cost"><span class="Card-price">{{ product.min_price }}</span></div>
                                                {% endif %}
                                                <div class="Card-category">{{ product.category__title }}
                                                </div>
                                                <div class="Card-hover"><a class="Card-btn" href="{% url 'pages:product-detail' product.pk %}"><img src="{% static 'assets/img/icons/card/cart.svg' %}" alt="cart.svg" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}