{% extends 'base_mini.html' %}

{% block main %}
<div class="wrapper">
    <div class="header">
        <h3 class="sign-in">Вход</h3>
    </div>
    <div class="clear"></div>
    <form method="post">
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>

        <div>
            <input type="submit" value="Войти" />
        </div>
        <a class="forgot-label" href="{% url 'app_users:password_reset' %}">Забыли пароль?</a>
        <a class="registr" href="{% url 'app_users:register' %}">
            Регистрация
        </a>
    </form>
</div>
{% endblock %}
