{% extends 'orders/order_base.html' %}
{% load static %}
{% load product_discount_tags %}

{% block order_step %}
    <form method="post" class="form">
    {% csrf_token %}
    {% if request.session.user_data.payment_data %}
        <div class="Order-block Order-block_OPEN" id="step4">
            <header class="Section-header Section-header_sm">
                <h2 class="Section-title">Шаг 4. Подтверждение заказа
                </h2>
            </header>
            <!--+div.Order.-confirmation-->
            <div class="Order-infoBlock">
                <div class="Order-personal">
                    <div class="row">
                        <div class="row-block">
                            <div class="Order-info">
                                <div class="Order-infoType">ФИО:
                                </div>
                                <div class="Order-infoContent">{{ request.session.user_data.name.0 }}
                                </div>
                            </div>
                            <div class="Order-info">
                                <div class="Order-infoType">Телефон:
                                </div>
                                <div class="Order-infoContent">{{ request.session.user_data.phone.0 }}
                                </div>
                            </div>
                            <div class="Order-info">
                                <div class="Order-infoType">E-mail:
                                </div>
                                <div class="Order-infoContent">{{ request.session.user_data.mail.0 }}
                                </div>
                            </div>
                        </div>
                        <div class="row-block">
                            <div class="Order-info Order-info_delivery">
                                <div class="Order-infoType">Тип доставки:
                                </div>
                                <div class="Order-infoContent">{{ request.session.user_data.delivery_data.delivery.0 }}
                                </div>
                            </div>
                            <div class="Order-info">
                                <div class="Order-infoType">Город:
                                </div>
                                <div class="Order-infoContent">{{ request.session.user_data.delivery_data.city.0 }}
                                </div>
                            </div>
                            <div class="Order-info">
                                <div class="Order-infoType">Адрес:
                                </div>
                                <div class="Order-infoContent">{{ request.session.user_data.delivery_data.address.0 }}
                                </div>
                            </div>
                            <div class="Order-info Order-info_pay">
                                <div class="Order-infoType">Оплата:
                                </div>
                                <div class="Order-infoContent">{{ request.session.user_data.payment_data.pay.0 }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Cart Cart_order">
                    {% for item in cart_items %}
                    <div class="Cart-product">
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_pict"><a class="Cart-pict" href="#"><img class="Cart-img"
                                                                                                       src="/{% firstof item.product.icon.file 'static/assets/img/content/home/no-pic.png' %}"
                                                                                                       alt="card.jpg"/></a>
                            </div>
                            <div class="Cart-block Cart-block_info"><a class="Cart-title" href="{% url 'pages:product-detail' item.product.pk %}">{{ item.product.title }}</a>
                                <div class="Cart-desc">{{ item.product.description }}
                                </div>
                            </div>
                            {% if item.product.discounts %}
                            <div class="Cart-block Cart-block_price">
                                <div class="Cart-price"><del style="color: #df3349">{{ item.price }}</del>
                                </div>
                                <div class="Cart-price">{% avg_discount_price item.product %}
                                </div>
                            </div>
                            {% else %}
                            <div class="Cart-block Cart-block_price">
                                <div class="Cart-price">{{ item.price }}
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="Cart-block Cart-block_row">
                            <div class="Cart-block Cart-block_amount">{{ item.amount }}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="Cart-total">
                        <div class="Cart-block Cart-block_total">
                            <strong class="Cart-title">Итого:
                            </strong><span class="Cart-price">{{ total_price }}</span>
                        </div>
                        <div class="Cart-block">
                            <button class="btn btn_primary btn_lg" type="submit">Оплатить
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div align="center">
            <h2 class="Section-title">Заполните информацию на <a href="{% url 'pages:order-step-3' %}">шаге 3</a>, пожалуйста!</h2>
            <img src="{% static 'assets/img/content/home/bad_order.jpg' %}" alt="bad_order" style="max-width: 700px; width: 100%"/>
        </div>
    {% endif %}
    </form>
{% endblock %}