{% extends "orders/order_base.html" %}
{% load static %}

{% block order_step %}
    {% if cart_items %}
    <form method="post" class="form">
    {% csrf_token %}
    <div class="Order-block Order-block_OPEN" id="step1">
        <header class="Section-header Section-header_sm">
            <h2 class="Section-title">Шаг 1. Параметры пользователя
            </h2>
        </header>
        <div class="row">
            <div class="row-block">
                {{ form.as_p }}
            </div>
            {% if not user.is_authenticated %}
                <div class="row-block">
                    <div class="form-group">
                        <label class="form-label" for="password">Пароль
                        </label>
                        <input class="form-input" id="password" name="password" type="password" data-validate="require"
                               placeholder="Введите ваш пароль"/>
                    </div>
                    <div class="form-group">
                        <label class="form-label" for="passwordReply">Подтверждение пароля
                        </label>
                        <input class="form-input" id="passwordReply" name="passwordReply" type="password"
                               data-validate="require" placeholder="Введите пароль повторно"/>
                    </div>
                    <div class="form-group"><a class="btn btn_muted Order-btnReg" href="{% url 'app_users:login' %}">Я уже зарегистрирован</a>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if request.user.is_authenticated %}
            <div class="Order-footer"><button class="btn btn_success" type="submit">Дальше</button>
            </div>
        {% else %}
            <div class="Order-footer"><button class="btn btn_success" type="submit">Зарегистрироваться</button>
            </div>
        {% endif %}
    </div>
    </form>
    {% else %}
        <h2 class="Section-title">Ваша корзина пуста. <a href="{% url 'pages:catalog-view' %}">Продолжить покупки.</a></h2>
        <div align="center">
            <img src="{% static 'assets/img/content/home/empty_order.svg'%}" alt="empty_order" style="max-width: 350px"/>
        </div>
    {% endif %}

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.inputmask.min.js' %}"></script>

    <script>
        document.getElementById('id_phone').addEventListener('input', function (e) {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            e.target.value = '(' +x[1] + ') '+ x[2] + '-' + x[3]

            if (e.target.value.length < 5) {
                e.target.value = ''
            }
        });

        window.addEventListener("load", (event) => {
            let e = document.getElementById('id_phone')
            var x = e.value.slice(1).replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            e.value = '(' +x[1] + ') '+ x[2] + '-' + x[3]

            if (e.value.length < 5) {
                e.value = ''
            }
        });
    </script>

{% endblock %}